<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>LP2-Semana07b</display-name>
  <!-- Definimos nuestra página de bienvenida -->
  <welcome-file-list>
    <welcome-file>listaProducto.jsp</welcome-file>
  </welcome-file-list>
  
  <!-- Registramos nuestro servlet -->
  <servlet>
    <description></description>
    <display-name>ServletProducto</display-name>
    <servlet-name>ServletProducto</servlet-name>
    <servlet-class>www.google.intranet.matricula.controlador.ServletProducto</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletProducto</servlet-name>
    <url-pattern>/producto</url-pattern>
  </servlet-mapping>
</web-app>